{% extends 'product_list_template.html' %}
{% load static %}

{% block options %}
<a class="btn btn-outline-danger" href="{% url 'index' %}">Regresar</a>
{% endblock %}

{% block loop %}
{% for stock in stock_list %}
<div id="{{ stock.producto.nombre.lower }}" class="col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h6>
                <strong>
                    <a href="{% url 'compra:detalles-producto' stock.tienda.id stock.id%}">
                        {{ stock.producto.nombre }}
                    </a>
                </strong>
            </h6>
            {% if stock.producto.imagen %}
            <div class="card-img d-flex justify-content-center">
                <img src="{{ stock.producto.imagen.url }}" alt="connected" style="max-height: 125px">
            </div>
            <br>
            {% endif %}
            <h6><strong>Precio  : </strong>{{ stock.producto.precio }}$</h6>
            <h6><strong>Unidades: </strong>{{ stock.cantidad }}</h6>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}