{% extends 'index-fixed.html' %}
{% load staticfiles %}


{% block content %}
<h1 class="text-center" style="padding-top: 50px; padding-bottom: 25px"><strong>Edite su tienda</strong></h1>


<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="container" style="padding: 25px 120px 10px;">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label for="id_nombre">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="id_nombre" value="{{ stock.producto.nombre }}">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="id_username">Foto</label>
                        <img class="col-12" src="{% static 'img/900x350.png' %}" alt="">
                        <input class="form-control-file" type="file"  name="foto" id="id_foto" value="{{ imagen_tienda }}" accept="image/*">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Actualizar</button>
                    <button class="btn btn-danger"><a style="color: #f7f7f7;" href="{% url 'tienda:mostrar-tienda' %}">Cancelar</a></button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}