{% extends 'index-fixed.html' %}
{% load staticfiles %}



{% block content %}
<h1 class="text-center" style="padding: 25px;"><strong>Listado de Tiendas</strong></h1>

<div class="container">
    <div class="row">
        {% for tienda in tiendas %}
        <div class="col-lg-4 mb-3 animated fadeInLeft" style="animation-delay: 0.5s">
            <div class="card">
{#                {% if tienda.imagen %}#}
{#                    aca va la foto asignada a la tienda #}
{#                <td style="padding-left: 10px">{{ tienda.imagen }}</td> #}
{#                {% else %}#}
{#                    <a><img class="card-img-top" src="{% static 'img/900x350.png' %}" alt=""></a>#}
{#                {% endif %}#}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href={% url 'tienda:visitar-tienda' tienda.id %}>{{ tienda.nombre }}</a>
                    </h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}