{% extends 'index-fixed.html' %}
{% load static %}


{% block content %}
<div class="container" style="padding: 25px">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12 mb-2 animated fadeInDown faster">
                    <h3 class="need-pd header-font-lp"><strong>Bienvenid@ a <b>{{ tienda.nombre }}</b></strong></h3>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <a class="list-group-item">Categorias</a>
                    <div class="list-group">
                        {% for categoria in categorias %}
                        <a class="list-group-item"><label><input type="checkbox"></label> {{ categoria }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <a class="btn btn-outline-primary" href="{% url 'tienda:listar-tiendas' %}">Regresar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                {% for stock in stock_list %}
                <div class="col-lg-4 mb-3 animated fadeInLeft slow">
                    <div class="card">
                        <div class="card-body">
                            <h6><strong>Producto: </strong>
                                <a href="{% url 'compra:detalles-producto' stock.tienda.id stock.producto.id%}">
                                    {{ stock.producto.nombre }}
                                </a>
                            </h6>
                            <h6><strong>Precio  : </strong>{{ stock.producto.precio }}$</h6>
                            <h6><strong>Unidades: </strong>{{ stock.cantidad }}</h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}