{% extends 'index.html' %}



{% block title %} {{ tienda.nombre }} {% endblock %}

{% block Content %}
    <div style="padding-left: 3rem;padding-top: 3rem;">
        <h3><strong>Bienvenido a <b>{{ tienda.nombre }}</b></strong></h3>
        {% if stock_list %}
            <div  style="padding-top: 2rem">
                <table class="table">
                    <tr>
                        <td style="padding-left: 10px"><strong>Nombre</strong></td>
                        <td style="padding-left: 10px"><strong>Precio</strong></td>
                        <td style="padding-left: 10px"><strong>Cantidad</strong></td>
                        <td style="padding-left: 10px"></td>
                        <td style="padding-left: 10px"></td>
                    </tr>
                    {% for stock in stock_list %}
                        <tr>
                            <td style="padding-left: 10px">{{ stock.producto.nombre }}</td>
                            <td style="padding-left: 10px">{{ stock.producto.precio }}</td>
                            <td style="padding-left: 10px">{{ stock.cantidad }}</td>
                            <td>
                                <button class="btn btn-secondary">
                                    <a style="color: #171a1d;" href={% url 'compra:comprar' stock.id %}>Comprar</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <footer style="padding-top: 3rem">
            <button class="btn btn-primary bg-transparent">
                <a style="color: #171a1d;" href={% url "tienda:listar-tiendas" %}>
                    Regresar
                </a>
            </button>
        </footer>
    </div>
{% endblock %}