<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio Subasta</title>
</head>
<body>
<header>
    <li><label>Bienvenid@ {{ user_name }}</label></li>
</header>
    <form action={% url 'subasta:buscar-subastas' %} method="get">
        <input type="submit" value="Buscar Subastas">
    </form>
    <form action={% url 'subasta:listar-subastas' %} method="get">
        <input type="submit" value="Subastas de tu Tienda">
    </form>
    <form action={% url 'subasta:listar-subastas-usuario' %} method="get">
        <input type="submit" value="Subastas en las que participa">
    </form>
    <form action={% url 'subasta:listar-subastas-finalizadas'%} method="get">
        <input type="submit" value="Subastas Finalizadas">
    </form>
    <form action={% url 'subasta:crear-subasta' %} method="get">
        <input type="submit" value="Subastar Producto">
    </form>
</body>
</html>
