<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Subastas Finalizadas</title>
</head>
<body>
Subastas Finalizadas de la tienda de {{ user}}
<li></li>
<table>
<tr>
    <th>Comprador</th>
    <th>Producto</th>
    <th>Precio Final</th>
    <th>Hora Final</th>
</tr>
{% for elem in subastas_finalizadas %}
    <tr>
    <td>[{{ elem.comprador}}]</td>
    <td>[{{ elem.producto}}]</td>
    <td>[{{ elem.precio_final}}]</td>
    <td>[{{ elem.hora_final}}]</td>
    </tr>
{% endfor %}
</table>
    <form action={% url 'subasta:inicio-subasta' %} method="get">
        <input type="submit" value="Atras">
    </form>
</body>
</html>
