<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Subastas</title>
</head>
<body>
Subastas de {{ user}}
<table>
<tr>
    <th>Pujante</th>
    <th>Producto</th>
    <th>Precio Actual</th>
    <th>Precio Inicial</th>
    <th>Hora Inicio</th>
    <th>Hora Final</th>
</tr>
{% for elem in subastas_en_curso %}
    <tr>
    <td>[{{ elem.pujante}}]</td>
    <td>[{{ elem.producto.nombre}}]</td>
    <td>[{{ elem.precio_actual}}]</td>
    <td>[{{ elem.precio_inicial}}]</td>
    <td>[{{ elem.hora_inicio}}]</td>
    <td>[{{ elem.hora_final}}]</td>
    </tr>
{% endfor %}
</table>
    <form action={% url 'subasta:inicio-subasta' %} method="get">
        <input type="submit" value="Atras">
    </form>
</body>
</html>
