{% extends 'list_template.html' %}
{% load static %}


{% block filters %}
<div class="col">
    <div class="d-flex justify-content-start">
        <label for="search"></label>
        <input class="form-control"
               id="search"
               type="text"
               placeholder="Buscar..."
               oninput="search()">
    </div>
</div>
<div class="col offset-2">
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary" onclick="orderBy()">Ordenar</button>
        <label for="order_by"></label>
        <select id="order_by" class="form-control mr-2">
            <option>Nombre</option>
            <option>Precio</option>
            <option>Fecha</option>
            <option>Cantidad</option>
        </select>
        <a class="btn btn-outline-danger" href="{% url 'index' %}">Regresar</a>
    </div>
</div>

{% endblock %}
{% block loop %}
{% for subasta in subastas %}
<div id="{{ subasta.producto.nombre.lower }}" class="col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h4><a>{{ subasta.producto.nombre }}</a></h4>
            <h6><strong>Tienda:    </strong> {{ subasta.tienda }}</h6>
            <h6><strong>Comprador: </strong>
            {% if subasta.pujante %}
                {{ subasta.pujante  }}
            {% else %}
                {{ '-' }}
            {% endif %}
            </h6>
            <h6><strong>Precio: </strong>{{ subasta.precio_actual }}</h6>
        </div>
        <div class="card-footer">
            <span><b>Termina el {{ subasta.hora_final }} </b></span><br>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}