{% extends 'subasta_list_template.html' %}
{% load static %}

{% block options %}
<a class="btn btn-outline-danger" href="{% url 'index' %}">Regresar</a>
{% endblock %}


{% block loop %}
{% for subasta in subastas %}
<div id="{{ subasta.producto.nombre.lower }}" class="col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h4><a href="{% url 'subasta:actualizar-subasta' subasta.id%}">{{ subasta.producto.nombre }}</a></h4>

            {% if subasta.producto.imagen %}
            <div class="card-img d-flex justify-content-center">
                <img src="{{ subasta.producto.imagen.url }}" alt="connected" style="max-height: 125px">
            </div>
            <br>
            {% endif %}

            <h6><strong>Tienda:    </strong> {{ subasta.tienda }}</h6>
            <h6><strong>Comprador: </strong>
            {% if subasta.pujante %}
                {{ subasta.pujante  }}
            {% else %}
                {{ '-' }}
            {% endif %}
            </h6>
            <h6><strong>Precio: </strong>{{ subasta.precio_actual }}</h6>
        </div>
        <div class="card-footer">
            <span><b>Termina el {{ subasta.hora_final }} </b></span><br>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}