{% extends 'index-fixed.html'%}
{% load static %}


{% block content %}
<div class="container" style="padding: 25px">
    <div class="row">
        <div class="col-lg-3 mb-2">
            <div class="row">
                <div class="col-lg-12 mb-2 animated fadeInDown faster">
                    <h3><strong>Subastas en Curso</strong></h3>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <div class="form-group">
                        <label>
                            <input class="form-control" type="text" placeholder="Buscar...">
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <div class="list-group">
                        <a class="list-group-item">Categorias</a>
                        {% for categoria in categorias %}
                        <a class="list-group-item"><label><input type="checkbox"></label> {{ categoria }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <a class="btn btn-outline-primary" href="{% url 'index' %}">Filtrar</a>
                </div>
                <div class="col-lg-12 mb-2 animated fadeInDown fast">
                    <a class="btn btn-outline-danger" href="{% url 'index' %}">Regresar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 mb-2">
            <div class="card animated fadeInDown slow">
                <div class="card-body">
                    <div class="table-container">
                        <table class="table table-bordered" style="width: 100%; margin-bottom: 0">
                            <thead>
                                <tr>
                                    <th class="orderable">Pujante</th>
                                    <th class="orderable">Producto</th>
                                    <th class="orderable">Descripcion</th>
                                    <th class="orderable">Precio</th>
                                    <th class="orderable">Hora Final</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subasta in subastas %}
                                <tr>
                                    <td>{{ subasta.pujante }}</td>
                                    <td><a href="{% url 'index' %}">{{ subasta.producto.nombre }}</a></td>
                                    <td>{{ subasta.producto.descripcion }}</td>
                                    <td>{{ subasta.precio_actual }}</td>
                                    <td>{{ subasta.hora_final }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Mis Subastas</title>#}
{#</head>#}
{#<body>#}
{#Subastas de {{ user}}#}
{#<table>#}
{#<tr>#}
{#    <th>Pujante</th>#}
{#    <th>Producto</th>#}
{#    <th>Precio Actual</th>#}
{#    <th>Precio Inicial</th>#}
{#    <th>Hora Inicio</th>#}
{#    <th>Hora Final</th>#}
{#</tr>#}
{#{% for elem in subastas_en_curso %}#}
{#    <tr>#}
{#    <td>[{{ elem.pujante}}]</td>#}
{#    <td>[{{ elem.producto.nombre}}]</td>#}
{#    <td>[{{ elem.precio_actual}}]</td>#}
{#    <td>[{{ elem.precio_inicial}}]</td>#}
{#    <td>[{{ elem.hora_inicio}}]</td>#}
{#    <td>[{{ elem.hora_final}}]</td>#}
{#    </tr>#}
{#{% endfor %}#}
{#</table>#}
{#    <form action={% url 'subasta:inicio-subasta' %} method="get">#}
{#        <input type="submit" value="Atras">#}
{#    </form>#}
{#</body>#}
{#</html>#}
