{% extends 'subasta_list_template.html' %}
{% load static %}

{% block options %}
<div class="dropdown">
    <div class="btn btn-outline-secondary dropdown-toggle"
         id="dropdownMenuButton"
         type="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false"
    >...</div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Opciones</h6>
        <a class="dropdown-item dro" href="{% url 'tienda:visitar-tienda' tienda.id %}">Ver Productos</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Extras</h6>
        <a class="dropdown-item" href="{% url 'index' %}">Regresar</a>
    </div>
</div>
{% endblock %}

{% block loop %}
{% for subasta in subastas %}
<div id="{{ subasta.producto.nombre.lower }}" class="col-lg-4 mb-3">
    <div class="card">
        <div class="card-body">
            <h4><a href="{% url 'subasta:actualizar-subasta' subasta.id%}">{{ subasta.producto.nombre }}</a></h4>

            {% if subasta.producto.imagen %}
            <div class="card-img d-flex justify-content-center">
                <img src="{{ stock.producto.imagen.url }}" alt="connected" style="max-height: 125px">
            </div>
            <br>
            {% endif %}

            <h6><strong>Tienda:    </strong> {{ subasta.tienda }}</h6>
            <h6><strong>Comprador: </strong>
            {% if subasta.pujante %}
                {{ subasta.pujante  }}
            {% else %}
                {{ '-' }}
            {% endif %}
            </h6>
            <h6><strong>Precio: </strong>{{ subasta.precio_actual }}</h6>
        </div>
        <div class="card-footer">
            <span><b>Termina el {{ subasta.hora_final }} </b></span><br>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}