{% load static %}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <title>La Peseta</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% block body %}
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(191,221,233,0.76)">
        <h1>
            <a class="navbar-brand animated fadeInDown" style="animation-delay: 100ms" href="{% url 'index' %}">
                <strong>La Peseta</strong>
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'tienda:mostrar-tienda' %}">Mi Tienda</a>
                </li>
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'tienda:listar-productos' %}">Productos</a>
                </li>
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'tienda:listar-tiendas' %}">Tiendas</a>
                </li>
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'subasta:listar-subscripciones' %}">Subscripciones</a>
                </li>
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'subasta:listar-subastas-todas' %}">Subastas</a>
                </li>
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'compra:listar-carrito' %}">Carrito</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not tienda_id %}
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'usuario:login'%}">Login</a>
                </li>
                {% else %}
                <li class="nav-item active animated fadeInDown" style="animation-delay: 100ms">
                    <a class="nav-link" href="{% url 'usuario:logout'%}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block intro %}
    <section id="intro" class="clearfix" style="padding: 225px">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info animated fadeInLeft fast">
                    {% if not tienda_id %}
                    <h2>La Peseta <br>Obten tu propia <span>Tienda</span></h2>
                    {% else %}
                    <h2><span>Bienvenid@ {{ user }}!</span><br>Gracias por elegirnos :)</h2>
                    {% endif %}
                    <div><a href="#" class="btn-get-started scrollto">Informacion</a></div>
                </div>
                <div class="col-md-6 intro-img animated fadeInLeft">
                    <img src="{% static 'img/intro-img.svg' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block content %}

    {% endblock %}
    <!-- El orden de los js importa [jquery, popper, bootstrap] -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock body %}
</body>
</html>