{% extends 'index-fixed.html' %}
{%  load static %}

{% block content %}
<div class="container" style="padding: 25px">
    <div class="row">
        <div class="col-lg-3 mb-2">
            <div class="row">
                <div class="col-lg-12 mb-2 animated fadeInDown faster">
                    {% block main_text %}
                    {% endblock %}
                </div>

                {% if categorias %}
                <div class="col-lg-12 mb-2 animated fadeInDown fast">

                    <a class="list-group-item">Categorias</a>
                    <div class="list-group">
                        {% for categoria in categorias %}
                        <a class="list-group-item"><label><input type="checkbox"></label> {{ categoria }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% block buttons %}
                {% endblock %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                {% block loop %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}