{% extends 'login.html' %}

{% block body_content %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reiniciar Clave</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>Ha olvidado su clave?</h4>
                <p>Ingrese su e-mail y le enviaremos un correo con las instrucciones para reiniciar su clave.</p>
            </div>
            <form>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                        <label for="inputEmail">Introduzca su correo</label>
                    </div>
                </div>
                <a class="btn btn-primary btn-block" href="{% url 'index' %}">Reiniciar Clave</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{% url 'usuario:registrar' %}">Registrarse</a>
                <a class="d-block small" href="{% url 'usuario:login' %}">Pagina de Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}