{% extends 'product_list_template.html' %}
{% load static %}

{% block options %}
<a class="btn btn-outline-danger" href="{% url 'index' %}">Regresar</a>
{% endblock %}

{% block loop %}
{% for pedido in pedidos %}
    <div class="col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h6><strong>Producto: </strong>
                    <a href="{% url 'compra:detalles-producto' pedido.tienda.id pedido.stock.id%}">
                        {{ pedido.stock.producto.nombre }}
                    </a>
                </h6>
                <h6><strong>Unidades: </strong>{{ pedido.cantidad }}</h6>
                <h6><strong>Precio: </strong>{{ pedido.stock.producto.precio }}$</h6>
                <h6><strong>Total a pagar: </strong>{{ pedido.total_a_pagar }}$</h6>
                <a class="btn btn-outline-secondary" href="{% url 'compra:editar-pedido' pedido.id %}">Editar/Pagar</a>
               <a class="btn btn-outline-danger" href="{% url 'compra:eliminar-pedido' pedido.id %}">Eliminar</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}