{% extends 'index_fixed.html' %}
{% load static %}

{% block content %}
    <div class="container d-flex justify-content-center" style="padding: 25px">
        <form method="post">
            {% csrf_token %}
            <div class="card" style="max-width: 600px">
                <div class="card-header">
                    <h5 class="text-center"><strong>Pasarela de Pago</strong></h5>
                </div>
                <div class="container" style="padding: 0 52px">
                    <div class="card-body">
                        <div class="row">
                            <h1>{{ stock.producto.nombre }}</h1>
                            <div class="col-lg-12 mb-2">
                                <p class="card-title"><strong>Precio: {{ stock.producto.precio }}$</strong></p>
                            </div>
                            <div class="col-lg-12 mb-2">
                                <p class="card-title"><strong>Cantidad: {{ cantidad }}</strong></p>
                            </div>
                            <div class="col-lg-12 mb-2">
                                <p class="card-title"><strong>Total a pagar: {{ total }}$</strong></p>
                            </div>
                            <div class="row">
                                <div class="col-lg-8">
                                    <label for="id_numero_de_cuenta">Numero de cuenta</label>
                                    <input class="form-control" type="number" id="id_numero_de_cuenta" maxlength="16" name="numero_de_cuenta">
                                </div>
                                <div class="col-lg-4">
                                    <label for="id_ping">Ping</label>
                                    <input class="form-control" type="number" id="id_ping" name="ping">
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2">
                                {% if error_message %}
                                <div class="text-center text-danger animated fadeInDown faster">{{ error_message }}</div>
                                {% endif %}
                            </div>
                            <div class="col-lg-12 mb2">
                                <div class="d-flex justify-content-end">
                                    <div class="btn-group-ls text-center">
                                        <button class="btn btn-outline-primary" type="submit" name="action" value="update">Pagar</button>
                                        <a class="btn btn-outline-danger" href="{% url 'tienda:listar-productos' %}">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
